<!DOCTYPE html>
<html>
<head>
    <title>Customer Detail</title>
    <style>
        body {
            font-family: Arial;
            background: #fff0f5;
            text-align: center;
            padding: 40px;
        }

        .card {
            background: white;
            padding: 30px;
            border-radius: 15px;
            width: 300px;
            margin: auto;
            box-shadow: 0 5px 15px rgba(0,0,0,0.2);
        }
    </style>
</head>
<body>

    <div class="card">
        <h2>{{ customer.name }}</h2>
        <p>Phone: {{ customer.phone }}</p>

        <br>
        <a href="{% url 'old_customers' %}">⬅ Back</a>
    </div>

</body>
</html>