{% extends 'base.html' %}
{% block content %}

<style>
.container {
    display: flex;
    gap: 40px;
    margin-top: 30px;
    animation: fadeIn 0.8s ease-in-out;
}

@keyframes fadeIn {
    from {opacity: 0; transform: translateY(10px);}
    to {opacity: 1; transform: translateY(0);}
}

.left {
    width: 250px;
}

.left img {
    width: 100%;
    border-radius: 15px;
}

.right {
    flex: 1;
    background: white;
    padding: 20px;
    border-radius: 20px;
}

textarea {
    width: 100%;
    height: 120px;
}

.blouse-section {
    margin-top: 20px;
}

.blouse-grid {
    display: flex;
    gap: 10px;
}
.blouse-grid img {
    width: 80px;
    height: 80px;
    border-radius: 10px;
}
</style>

<h2>{{ customer.name }} Folder</h2>

<div class="container">

    <div class="left">
        {% if customer.photo %}
            <img src="{{ customer.photo.url }}">
        {% endif %}
    </div>

    <div class="right">
        <h3>Notes ✏</h3>
        <form method="POST">
            {% csrf_token %}
            <textarea name="note">{{ customer.note }}</textarea>
            <button type="submit">Save Note</button>
        </form>

        <div class="blouse-section">
            <h3>Blouse Images</h3>

            <form method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                <input type="file" name="blouse_image">
                <button type="submit">Add</button>
            </form>

            <div class="blouse-grid">
                {% for blouse in customer.blouse_set.all %}
                    <img src="{{ blouse.image.url }}">
                {% endfor %}
            </div>
        </div>

        <p><b>Received:</b> {{ customer.received_date }}</p>
        <p><b>Delivery:</b> {{ customer.delivery_date }}</p>
    </div>

</div>

{% endblock %}